<h3>
    <b style="color:red">Note: </b> An observer is a data producer of multiple values, "pushing" the values to Observers
    (Consumers). We can consume the data produced by the observables using the .subscribe() method of an observable.

    Observable has three callback functions
    <ul>
        <li> next() :- calls when observable changes value.</li>
        <li> complete() :- calls when observable completes.</li>
        <li> error() :- calls when observable throws an error.</li>
    </ul>
</h3>

<br/><b>Example: </b>
<br />
<img src="assets/observable.PNG" width="850" height="700"/>
<br>
<img src="assets/observable1.PNG" width="850" height="700"/>
