<h1>Interview Practices</h1>
<div class="main-container">
  <div class="left-panel">
    <div class="login-cls">
      <button *ngIf="!isLoggedIn" (click)="setLogin(true)">Login</button>
      <button *ngIf="isLoggedIn" (click)="setLogin(false)">Logout</button>
    </div>
    <b>Examples</b>
    
    <ul>
      <li><a [routerLink]="['/api-interaction']" routerLinkActive="router-link-active">API Interaction </a></li>
      <li><a [routerLink]="['/interceptor']" routerLinkActive="router-link-active">Interceptor Usage  </a></li>
      <li><a [routerLink]="['/observable']" routerLinkActive="router-link-active">Observable Usage  </a></li>
      <li><a [routerLink]="['/subject-behavior']" routerLinkActive="router-link-active">Subject/Behavior Subject Usage  </a></li>
      <li><a [routerLink]="['/reactive-form-array']" routerLinkActive="router-link-active">Reactive Form (FormArray) </a></li>
      <li><a [routerLink]="['/pipe']" routerLinkActive="router-link-active"> Pipe | Custom Pipe </a></li>
      <li><a [routerLink]="['/directive']" routerLinkActive="router-link-active"> Directive | Custom Directive </a></li>
    </ul>
  </div>
  <div class="right-panel">
    <router-outlet></router-outlet>
  </div>
</div>